<div style="background-color: #f4f4f4;">
    <div class="content" style="width: 80%; margin: auto; justify-content: center; background-color: white;">
        <div>
            <h2 style="padding: 1.5rem; margin: 3rem 0 3rem 0; text-align: center; color: white; background-color: #7A4B95;">
                Gene-Connector Bug Report
            </h2>
        </div>

        <div style="padding: 1.5rem; text-align: center;">
            <h3>Dear, {{ context.name }}.</h3>
            <p>
                Thank you very much for reporting another bug. Your
                contributions will make our platform better every day.
            </p>

            <h4>Bug description</h4>
            <p>{{ context.description }}</p>
        </div>

        <div style="padding: 1.5rem; margin: 3rem 0 3rem 0; text-align: center; color: white; background-color: #7A4B95;">
            <span>
                Gene-Connector Development Team.
            </span>
        </div>
    </div>
</div>